{% extends "app/layout.html" %}

{% from 'app/vendor/govuk-frontend/components/back-link/macro.html' import govukBackLink %}
{% from 'app/vendor/govuk-frontend/components/breadcrumbs/macro.html' import govukBreadcrumbs %}
{% from 'app/vendor/govuk-frontend/components/button/macro.html' import govukButton %}
{% from 'app/vendor/govuk-frontend/components/details/macro.html' import govukDetails %}
{% from 'app/vendor/govuk-frontend/components/footer/macro.html' import govukFooter %}
{% from 'app/vendor/govuk-frontend/components/header/macro.html' import govukHeader %}
{% from 'app/vendor/govuk-frontend/components/inset-text/macro.html' import govukInsetText %}
{% from 'app/vendor/govuk-frontend/components/panel/macro.html' import govukPanel %}
{% from 'app/vendor/govuk-frontend/components/phase-banner/macro.html' import govukPhaseBanner %}
{% from 'app/vendor/govuk-frontend/components/skip-link/macro.html' import govukSkipLink %}
{% from 'app/vendor/govuk-frontend/components/table/macro.html' import govukTable %}
{% from 'app/vendor/govuk-frontend/components/tabs/macro.html' import govukTabs %}
{% from 'app/vendor/govuk-frontend/components/warning-text/macro.html' import govukWarningText %}
{% from 'app/vendor/govuk-frontend/components/checkboxes/macro.html' import govukCheckboxes %}
{% from 'app/vendor/govuk-frontend/components/date-input/macro.html' import govukDateInput %}
{% from 'app/vendor/govuk-frontend/components/error-message/macro.html' import govukErrorMessage %}
{% from 'app/vendor/govuk-frontend/components/error-summary/macro.html' import govukErrorSummary %}
{% from 'app/vendor/govuk-frontend/components/fieldset/macro.html' import govukFieldset %}
{% from 'app/vendor/govuk-frontend/components/file-upload/macro.html' import govukFileUpload %}
{% from 'app/vendor/govuk-frontend/components/input/macro.html' import govukInput %}
{% from 'app/vendor/govuk-frontend/components/radios/macro.html' import govukRadios %}
{% from 'app/vendor/govuk-frontend/components/select/macro.html' import govukSelect %}
{% from 'app/vendor/govuk-frontend/components/textarea/macro.html' import govukTextarea %}
{% from 'app/vendor/govuk-frontend/components/character-count/macro.html' import govukCharacterCount %}
{% from 'app/vendor/govuk-frontend/components/summary-list/macro.html' import govukSummaryList %}
{% from 'app/vendor/govuk-frontend/components/accordion/macro.html' import govukAccordion %}


{% block title %}Index{% endblock %}

{% block inner_content %}
  {% filter markdown %}
# ulapd-ui

This skeleton is intentionally bare as a starting point. Please see [gadgets/gadget-govuk-ui](http://192.168.249.38/gadgets/gadget-govuk-ui) for a fuller example

## govuk-frontend macros kitchen sink
---

govuk-frontend supplies macros for generating compliant html. These are converted from nunjucks to jinja and made available to the skeleton. See the README.md for more information.
Since the nunjucks source undergoes several transformations before it can be used in jinja, we need to check they don't throw any errors. Therefore, we render absolutely everything on this page as a sanity check.

- This
- Is
- a
- list



1. This
2. Is
3. a
4. List


**bold**

_italic_

  {% endfilter %}

  <h2 class="govuk-heading-m">flask-wtf form rendered as gov html<span class="govuk-caption-l">(Bare minimum, don't use this as a reference)</span></h2>
  <form method="post" novalidate action="">
    {{ form['string_field'] }}
  </form>

  <div class="govuk-!-margin-top-9">
    {{ govukBackLink({
      'text': "Back",
      'href': "#"
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukBreadcrumbs({
      'items': [
        {
          'text': "Home",
          'href': "#"
        },
        {
          'text': "Passports, travel and living abroad",
          'href': "#"
        },
        {
          'text': "Travel abroad"
        }
      ]
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukButton({
      'text': "Save and continue",
      'preventDoubleClick': True
    }) }}

    {{ govukButton({
      'text': "Disabled button",
      'disabled': true
    }) }}

    {{ govukButton({
      'text': "Start now",
      'href': "#",
      'isStartButton': True
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukDetails({
      'summaryText': "Help with nationality",
      'text': "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post."
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukInsetText({
      'text': "It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application."
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukPanel({
      'headingLevel': 1,
      'titleText': "Application complete",
      'html': "Your reference number<br><strong>HDJ2123F</strong>"
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukPhaseBanner({
      'tag': {
        'text': "beta"
      },
      'html': 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukTable({
      'caption': "Dates and amounts",
      'firstCellIsHeader': true,
      'head': [
        {
          'text': "Date"
        },
        {
          'text': "Amount"
        }
      ],
      'rows': [
        [
          {
            'text': "First 6 weeks"
          },
          {
            'text': "£109.80 per week"
          }
        ],
        [
          {
            'text': "Next 33 weeks"
          },
          {
            'text': "£109.80 per week"
          }
        ],
        [
          {
            'text': "Total estimated pay"
          },
          {
            'text': "£4,282.20"
          }
        ]
      ]
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {% set pastDayHtml %}
      <h2 class="govuk-heading-l">Past day</h2>
      {{ govukTable({
        'head': [
          {
            'text': "Case manager"
          },
          {
            'text': "Cases opened"
          },
          {
            'text': "Cases closed"
          }
        ],
        'rows': [
          [
            {
              'text': "David Francis"
            },
            {
              'text': "3"
            },
            {
              'text': "0"
            }
          ],
          [
            {
              'text': "Paul Farmer"
            },
            {
              'text': "1"
            },
            {
              'text': "0"
            }
          ],
          [
            {
              'text': "Rita Patel"
            },
            {
              'text': "2"
            },
            {
              'text': "0"
            }
          ]
        ]
      }) }}
      {% endset -%}

      {% set pastWeekHtml %}
      <h2 class="govuk-heading-l">Past week</h2>
      {{ govukTable({
        'head': [
          {
            'text': "Case manager"
          },
          {
            'text': "Cases opened"
          },
          {
            'text': "Cases closed"
          }
        ],
        'rows': [
          [
            {
              'text': "David Francis"
            },
            {
              'text': "24"
            },
            {
              'text': "18"
            }
          ],
          [
            {
              'text': "Paul Farmer"
            },
            {
              'text': "16"
            },
            {
              'text': "20"
            }
          ],
          [
            {
              'text': "Rita Patel"
            },
            {
              'text': "24"
            },
            {
              'text': "27"
            }
          ]
        ]
      }) }}
      {% endset -%}

      {% set pastMonthHtml %}
      <h2 class="govuk-heading-l">Past month</h2>
      {{ govukTable({
        'head': [
          {
            'text': "Case manager"
          },
          {
            'text': "Cases opened"
          },
          {
            'text': "Cases closed"
          }
        ],
        'rows': [
          [
            {
              'text': "David Francis"
            },
            {
              'text': "98"
            },
            {
              'text': "95"
            }
          ],
          [
            {
              'text': "Paul Farmer"
            },
            {
              'text': "122"
            },
            {
              'text': "131"
            }
          ],
          [
            {
              'text': "Rita Patel"
            },
            {
              'text': "126"
            },
            {
              'text': "142"
            }
          ]
        ]
      }) }}
      {% endset -%}

      {% set pastYearHtml %}
      <h2 class="govuk-heading-l">Past year</h2>
      {{ govukTable({
        'head': [
          {
            'text': "Case manager"
          },
          {
            'text': "Cases opened"
          },
          {
            'text': "Cases closed"
          }
        ],
        'rows': [
          [
            {
              'text': "David Francis"
            },
            {
              'text': "1380"
            },
            {
              'text': "1472"
            }
          ],
          [
            {
              'text': "Paul Farmer"
            },
            {
              'text': "1129"
            },
            {
              'text': "1083"
            }
          ],
          [
            {
              'text': "Rita Patel"
            },
            {
              'text': "1539"
            },
            {
              'text': "1265"
            }
          ]
        ]
      }) }}
      {% endset -%}

      {{ govukTabs({
        'items': [
          {
            'label': "Past day",
            'id': "past-day",
            'panel': {
              'html': pastDayHtml
            }
          },
          {
            'label': "Past week",
            'id': "past-week",
            'panel': {
              'html': pastWeekHtml
            }
          },
          {
            'label': "Past month",
            'id': "past-month",
            'panel': {
              'html': pastMonthHtml
            }
          },
          {
            'label': "Past year",
            'id': "past-year",
            'panel': {
              'html': pastYearHtml
            }
          }
        ]
      }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukWarningText({
      'text': "You can be fined up to £5,000 if you don’t register.",
      'iconFallbackText': "Warning"
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukCheckboxes({
      'idPrefix': "waste",
      'name': "waste",
      'fieldset': {
        'legend': {
          'text': "Which types of waste do you transport?",
          'isPageHeading': True,
          'classes': "govuk-fieldset__legend--xl"
        }
      },
      'hint': {
        'text': "Select all that apply."
      },
      'items': [
        {
          'value': "carcasses",
          'text': "Waste from animal carcasses"
        },
        {
          'value': "mines",
          'text': "Waste from mines or quarries"
        },
        {
          'value': "farm",
          'text': "Farm or agricultural waste"
        }
      ]
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukDateInput({
      'id': "dob",
      'name': "dob",
      'fieldset': {
        'legend': {
          'text': "What is your date of birth?",
          'isPageHeading': True,
          'classes': "govuk-fieldset__legend--xl"
        }
      },
      'hint': {
        'text': "For example, 31 3 1980"
      },
      'items': [
        {
          'name': "day"
        },
        {
          'name': "month"
        },
        {
          'name': "year"
        }
      ]
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukDateInput({
      'fieldset': {
        'legend': {
          'text': "What is your date of birth?",
          'isPageHeading': true,
          'classes': "govuk-fieldset__legend--xl"
        }
      },
      'hint': {
        'text': "For example, 31 3 1980"
      },
      'errorMessage': {
        'text': "Date of birth must be in the past"
      },
      'id': "dob",
      'name': "dob",
      'items': [
        {
          'name': "day",
          'value': "6"
        },
        {
          'name': "month",
          'value': "3"
        },
        {
          'name': "year",
          'value': "2076"
        }
      ]
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukFieldset({
      'legend': {
        'text': "Legend text goes here",
        'classes': "govuk-fieldset__legend--xl",
        'isPageHeading': true
      }
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukFileUpload({
      'id': "file-upload-1",
      'name': "file-upload-1",
      'label': {
        'text': "Upload a file"
      }
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukInput({
      'label': {
        'text': "Full name"
      },
      'id': "name",
      'name': "name"
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukRadios({
      'classes': "govuk-radios--inline",
      'idPrefix': "changed-name",
      'name': "changed-name",
      'fieldset': {
        'legend': {
          'text': "Have you changed your name?",
          'isPageHeading': true,
          'classes': "govuk-fieldset__legend--xl"
        }
      },
      'hint': {
        'text': "This includes changing your last name or spelling your name differently."
      },
      'items': [
        {
          'value': "yes",
          'text': "Yes"
        },
        {
          'value': "no",
          'text': "No"
        }
      ]
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukSelect({
      'id': "sort",
      'name': "sort",
      'label': {
        'text': "Sort by"
      },
      'items': [
        {
          'value': "published",
          'text': "Recently published"
        },
        {
          'value': "updated",
          'text': "Recently updated",
          'selected': true
        },
        {
          'value': "views",
          'text': "Most views"
        },
        {
          'value': "comments",
          'text': "Most comments"
        }
      ]
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukTextarea({
      'name': "more-detail",
      'id': "more-detail",
      'label': {
        'text': "Can you provide more detail?"
      },
      'hint': {
        'text': "Don’t include personal or financial information, eg your National Insurance number or credit card details."
      }
    }) }}
  </div>

  <div class="govuk-!-margin-top-9">
    {{ govukCharacterCount({
      'name': "with-hint",
      'id': "with-hint",
      'maxlength': 200,
      'label': {
        'text': "Can you provide more detail?"
      },
      'hint': {
        'text': "Do not include personal or financial information, for example, your National Insurance number or credit card details."
      }
    }) }}
  </div>

    <div class="govuk-!-margin-top-9">

      {{ govukSummaryList({
        'rows': [
          {
            'key': {
              'text': 'Name'
            },
            'value': {
              'text': 'Freddy Frontend'
            },
            'actions': {
              'items': [
                {
                  'href': '#',
                  'text': 'Change',
                  'visuallyHiddenText': 'name'
                }
              ]
            }
          },
          {
            'key': {
              'text': 'Address'
            },
            'value': {
              'html': '1 The Street<br>Plymouth<br>PL1 2PP'
            },
            'actions': {
              'items': [
                {
                  'href': '#',
                  'text': 'Change',
                  'visuallyHiddenText': 'address'
                }
              ]
            }
          }
        ]
      }) }}
    </div>

  <div class="govuk-!-margin-top-9">
    {{ govukAccordion({
      'id': 'accordion-default',
      'items': [
        {
          'heading': {
            'text': 'Accordion item 1'
          },
          'summary': {
            'text': 'This is a summary for accordion item 1.'
          },
          'content': {
            'html': '<p class="govuk-body">This is the content for the first accordion item.</p>'
          }
        },
        {
          'heading': {
            'text': 'Accordion item 2'
          },
          'content': {
            'html': '<p class="govuk-body">This is the content for the second accordion item.</p>'
          }
        }
      ]
    }) }}
  </div>
</div>

{% endblock %}

{% block footer %}
{{ govukFooter({
  'navigation': [
    {
      'title': "Services and information",
      'columns': 2,
      'items': [
        {
          'href': "#",
          'text': "Benefits"
        },
        {
          'href': "#",
          'text': "Births, deaths, marriages and care"
        },
        {
          'href': "#",
          'text': "Business and self-employed"
        },
        {
          'href': "#",
          'text': "Childcare and parenting"
        },
        {
          'href': "#",
          'text': "Citizenship and living in the UK"
        },
        {
          'href': "#",
          'text': "Crime, justice and the law"
        },
        {
          'href': "#",
          'text': "Disabled people"
        },
        {
          'href': "#",
          'text': "Driving and transport"
        },
        {
          'href': "#",
          'text': "Education and learning"
        },
        {
          'href': "#",
          'text': "Employing people"
        },
        {
          'href': "#",
          'text': "Environment and countryside"
        },
        {
          'href': "#",
          'text': "Housing and local services"
        },
        {
          'href': "#",
          'text': "Money and tax"
        },
        {
          'href': "#",
          'text': "Passports, travel and living abroad"
        },
        {
          'href': "#",
          'text': "Visas and immigration"
        },
        {
          'href': "#",
          'text': "Working, jobs and pensions"
        }
      ]
    },
    {
      'title': "Departments and policy",
      'items': [
        {
          'href': "#",
          'text': "How government works"
        },
        {
          'href': "#",
          'text': "Departments"
        },
        {
          'href': "#",
          'text': "Worldwide"
        },
        {
          'href': "#",
          'text': "Policies"
        },
        {
          'href': "#",
          'text': "Publications"
        },
        {
          'href': "#",
          'text': "Announcements"
        }
      ]
    }
  ],
  'meta': {
    'items': [
      {
        'href': "#",
        'text': "Help"
      },
      {
        'href': "#",
        'text': "Cookies"
      },
      {
        'href': "#",
        'text': "Contact"
      },
      {
        'href': "#",
        'text': "Terms and conditions"
      },
      {
        'href': "#",
        'text': "Rhestr o Wasanaethau Cymraeg"
      },
      {
        'href': "#",
        'text': "Government Digital Service"
      }
    ]
  }
}) }}
{% endblock %}
