{% extends "app/base.html" %}
{% import "app/macros/form.html" as dps_form %}
{% block title %}Create an account{% endblock %}
{% block content %}
<div class="govuk-grid-row filter-user-type">
    <div class="govuk-grid-column-two-thirds">
    {% include "app/partials/backbtn.html" %}

        {% if fields %}
            <script type="application/json" data-ga-form-validation="personal_address">
                {{ fields|tojson }}
            </script>
        {% endif %}
        <form action="/registration/address-details-personal" method="POST" enctype="application/x-www-form-urlencoded">
            <fieldset class="govuk-fieldset">
                <legend>
                    <h1 class="govuk-heading-xl">
                        Your Address
                    </h1>
                </legend>

                {% include 'app/macros/error_list.html' %}

                <input type="hidden" id="uk_resident" name="uk_resident" value="{{session['dps-session']['registration']['uk_resident']}}">
                {{dps_form.field_group('building_and_street', [
                    {"name": 'street_line_1', "label": "Building and street", "hidden_label": "line 1 of 2", "value": session['dps-session']['registration']['street_line_1'] or "", "class":"" },
                    {"name": 'street_line_2', "hidden_label": "Building and street line 2 of 2", "value": session['dps-session']['registration']['street_line_2'] or "", "class":"" }
                ], fields=fields or none)}}
                {{dps_form.input('city', value=session['dps-session']['registration']['city'] or "", class='govuk-!-width-two-thirds', label='Town or city',fields=fields or none)}}
                
                {% if session['dps-session']['registration']['uk_resident'] == 'yes' %}
                    {{dps_form.input('county', value=session['dps-session']['registration']['county'] or "", class='govuk-!-width-two-thirds', label='County',fields=fields or none)}}
                    {{dps_form.input('postcode', value=session['dps-session']['registration']['postcode'] or "", label='Postcode', fields=fields or none)}}
                {% else %}
                {{dps_form.input('postcode', value=session['dps-session']['registration']['postcode'] or "", label='Postcode', hint='Give the postcode if there’s one for this address.', fields=fields or none)}}
                {{dps_form.input('country', value=session['dps-session']['registration']['country'] or "", class='govuk-!-width-two-thirds', label='Country',fields=fields or none)}}
                
                    {% endif %}
            </fieldset>
            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>
{% endblock %}
