{% extends "app/base.html" %}
{% import "app/macros/form.html" as dps_form %}
{% block title %}Charity details{% endblock %}
{% block content %}
<div class="govuk-grid-row filter-user-type">
    <div class="govuk-grid-column-two-thirds">
    {% include "app/partials/backbtn.html" %}
        {% if fields %}
            <script type="application/json" data-ga-form-validation="uk_org_info">
                {{ fields|tojson }}
            </script>
        {% endif %}
        <form action="/registration/charity-details" method="POST" enctype="application/x-www-form-urlencoded">
            <fieldset class="govuk-fieldset">
                <legend>
                    <h1 class="govuk-heading-xl">Charity details</h1>
                </legend>

                {% include 'app/macros/error_list.html' %}

                {{dps_form.input('name', value=session['dps-session']['registration']['uk_org_name'] or "", class='', label='Name', fields=fields or none)}}
                {{dps_form.input('charity', value=session['dps-session']['registration']['uk_org_reg_no'] or "", class='govuk-!-width-two-thirds', label='Charity number',fields=fields or none)}}
            </fieldset>
            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>
{% endblock %}
