  <p class="govuk-body">
    We’ll email you when your account is ready to use.
  </p>

  <p class="govuk-body">
    We process most accounts on the same day. If we receive your application at the end of the working day
    or over the weekend, we'll process it the next working day.
  </p>


  <h2 class="govuk-heading-l">Your confirmation email</h2>
  <p class="govuk-body">
    The email will have a link to create your account password. ​Once you have created your password, you’ll
    be able to sign in and download data.
  </p>

  <hr class="govuk-section-break govuk-section-break--m">

  <p class="govuk-body">
    <a href="https://www.smartsurvey.co.uk/s/HMLR_feedback/" class="govuk-link">What do you think of this service?</a>
  </p>

  <p>
      <a class="govuk-link" href="/">Back to Use land and property data</a>
  </p>
